/* calendar styles */
.cal {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  cursor: default;
}
.cal ::-moz-selection {
  background-color: transparent;
}
.cal ::selection {
  background-color: transparent;
}
.cal-header {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.cal-header__title {
  padding-left: 3px;
}
.cal-header__title-year {
  margin-left: 5px;
  font-weight: 300;
}
.cal-header-nav {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.cal-header-nav span {
  display: inline-block;
  width: 1em;
  height: 1em;
  margin-left: 5px;
  overflow: hidden;
}
.cal-header-nav span:hover {
  cursor: pointer;
}
.cal-header-nav span:active {
  color: gray;
}
.cal .week,
.cal .month,
.cal .weekdays {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.cal .month {
  -webkit-flex-flow: column nowrap;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;
}
.cal .day {
  border-radius: 50%;
}
.cal .day:hover {
  background-color: #e6e6e6;
  cursor: pointer;
}
.cal .day:hover .edge {
  color: white;
}
.cal .day.active, .cal .day:active {
  background-color: #e6e6e6;
}
.cal .day.edge {
  color: #aaaaaa;
}
.cal .day.today {
  background-color: #07a0f5;
  color: white;
}
.cal .weekend {
  color: gray;
}
.cal .weekend.edge {
  color: gray;
}
.cal .weekend.today {
  color: white;
}
.cal .weekdays {
  border-bottom: 1px solid #e6e6e6;
  margin-bottom: 3px;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 0.875rem;
  letter-spacing: 1px;
  color: gray;
}
.cal .flex-el {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 30px;
  height: 30px;
  -webkit-flex: 1 1 100%;
  -ms-flex: 1 1 100%;
  flex: 1 1 100%;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
